<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
</head>


<body>
<div class="container mt-4">
    <h2>Edit product</h2>
    <form action="/list" method="POST">
        <div class="mb-3 mt-3">
            <label>Product ID:</label>
            <input type="text" class="form-control"
                   placeholder="Enter product id" name="id" id="id">
        </div>
        <div class="mb-3">
            <label>Product Name:</label>
            <input type="text" class="form-control"
                   placeholder="Enter product name" name="product_name" id="product_name">
        </div>
        <div class="mb-3" href="../public/img/product">
            <label>Image:</label>
            <input  type="file" name="image" id="image">
        </div>
        <div class="mb-3">
            <label>Brands:</label>
            <select class="form-control" name="brand_name" id="brand_name">
                <option>----</option>
                <option>Nike</option>
                <option>Adidas</option>
                <option>Puma</option>
                <option>Mizuno</option>
                <option>Umbro</option>
                <option>Thuong Dinh</option>
            </select>
        </div>
        <div class="mb-3">
            <label>Price:</label>
            <input type="price" row="5" name="price" id="price">
        </div>
        <div class="mb-3">
            <label>Describe:</label>
            <textarea class="form-control" type="text" name="description" id="description"></textarea>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Update</button>
        <button class="btn btn-dark" type="reset" onClick="return confirm('Are you sure you want to reset?')"> Reset </button>
        <a href="/list" onClick="return confirm('Are you sure want to cancel?')" class="btn btn-danger">Cancel</a>
    </form>
</div>

</body>
</html>
